
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: $black;
  background-color: $bluegrey300;
  margin: 0;
  padding: 0;
  
}

h1 ,nav a {
  font-family: 'Alegreya SC', serif;
  color: $black;
}

h2 ,h3 ,h4 {
  font-family: 'Libre Franklin', sans-serif;
  color: $black;
} 

img {
  height: auto;
  max-width: 100%;
}