/* bluegrey colors */
$bluegrey300: #69A7C9;
$bluegrey200: #8FBDD6;
$bluegrey100: #51A0CB;

/* black color */
$black: #121212;

/* purple color */
$purple800: #3F247F;
$purple600: #4E0F6C;

/* font-size */
$h1-smartphone: 2rem;
$h-smartphone: 1.2rem;
$p-smartphone: 0.9rem;

$h1-tablet: 2.8rem;
$h-tablet: 1.5rem;


$h1-desktop: 5rem;
$h-desktop: 2rem;
$p-desktop: 1.12rem


